* {
    font-family: "HackNerdFontMono";
    font-size: 10pt;
    outline: none;
    box-shadow: none;
}

window {
    background-color: #242424;
    border: 1px solid #ED9207;
    border-radius: 8px;
}

#input,
#input:focus,
entry,
entry:focus {
    background-color: #242424;
    color: #C5C8C6;
    border: none;
    outline: none;
    box-shadow: none;
    caret-color: #C5C8C6;
    padding: 8px;
    margin: 0;
}

#outer-box {
    margin: 4px;
    padding: 0;
    background-color: #242424;
}

#scroll {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

#inner-box {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

#entry {
    padding: 8px;
    margin: 2px 4px;
    color: #C5C8C6;
    background-color: #242424;
}

#entry:selected {
    background-color: #1d1d1d;
    color: #ED9207;
}

#text {
    margin: 0;
    padding: 0;
}

#img {
    margin-right: 8px;
}
