* {
    font-family: "HackNerdFontMono";
    font-size: 10pt;
    outline: none;
    box-shadow: none;
}

window {
    background-color: #0c0a06;
    border: 1px solid #ED9207;
    border-radius: 8px;
}

#input {
    background-color: #0c0a06;
    color: #C5C8C6;
    border: none;
    padding: 8px;
    margin: 0;
}

#input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    -gtk-outline-radius: 0;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#scroll {
    margin: 0;
    padding: 0;
}

#inner-box {
    margin: 0;
    padding: 0;
}

#entry {
    padding: 8px;
    margin: 2px 4px;
    color: #C5C8C6;
}

#entry:selected {
    background-color: #1d1d1d;
    color: #ED9207;
}

#text {
    margin: 0;
    padding: 0;
}

#img {
    margin-right: 8px;
}
